body{
    background-color: #000000;
}
.bg-singer {
    width: 100%;
    margin-top: 0px;
    object-fit: cover;
    z-index: -1;
    display: none;
    position: relative;
}

.header {
    margin-bottom: 28%;
    background-color: #00000000;
}

.singer-info {
    color: #ffffff;
}

.singer-img-holder {
    position: absolute;
    width: 100%;
    -webkit-box-shadow: inset 0 -280px 800px -10px #000000;
    box-shadow: inset 0 -280px 400px -30px #000000;
}

.searchbar {
    background-color: #353b48cb;
}
.command-btns{
    margin-top: 30px;
    margin-right: 100px;
    margin-bottom: 150px;
  }


@media (max-width: 992px) and (min-width: 576px) {
    .singer-img-holder {
        position: absolute;
        width: 100%;
        -webkit-box-shadow: inset 0 -90px 60px -10px #000000;
        box-shadow: inset 0 -90px 60px -00px #000000;
    }
    .tbl-songs{
        padding-left: 0px;
        padding-right: 0px;
      }
}

@media (max-width: 576px) {
    .singer-img-holder {
        position: absolute;
        width: 100%;
        -webkit-box-shadow: inset 0 -75px 60px -10px #000000;
        box-shadow: inset 0 -75px 60px -10px #000000;
    }
    .tbl-songs{
        padding-left: 0px;
        padding-right: 0px;
      }
}
